.componentTester{
    background-color: gray;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.size{
    position: absolute;
    top: 0;
    left: 0;
}

.componentWrap{
    width: 400px;
    height: 300px;
    background-color: white;
    resize: both;
    display: block;
    overflow: hidden;

}